<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.GoodsMapper1" >
  <resultMap id="BaseResultMap" type="com.jk.entity.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_status" property="goodsStatus" jdbcType="VARCHAR" />
    <result column="goods_caption" property="goodsCaption" jdbcType="VARCHAR" />
    <result column="goods_version_id" property="goodsVersionId" jdbcType="INTEGER" />
    <result column="goods_typeid" property="goodsTypeid" jdbcType="INTEGER" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goods_color_id" property="goodsColorId" jdbcType="VARCHAR" />
    <result column="goods_img_all" property="goodsImgAll" jdbcType="VARCHAR" />
    <result column="goods_info" property="goodsInfo" jdbcType="VARCHAR" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="goods_date" property="goodsDate" jdbcType="DATE" />
    <result column="goods_remen" property="goodsRemen" jdbcType="INTEGER" />
  </resultMap>


  <select id="findall" resultMap="BaseResultMap">
    select * from xm_goods
  </select>


</mapper>