<<<<<<< HEAD
.total {
    width: 100%;
    height: 7600px;
    /*border: 1px solid  red;*/
    /*position: absolute;*/
    /*background-color: forestgreen;*/
    background-color: white;
=======
.total{
	width: 100%;
	height: 2600px;
	/*border: 1px solid  red;*/
	/*position: absolute;*/
	/*background-color: forestgreen;*/
	background-color: white;
>>>>>>> 1147e003b23cb44dffbfc4e598d165fb20cb1a03
}