<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.jk.entity.Goods">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_status" property="goodsStatus" jdbcType="VARCHAR"/>
        <result column="goods_caption" property="goodsCaption" jdbcType="VARCHAR"/>
        <result column="goods_version_id" property="goodsVersionId" jdbcType="INTEGER"/>
        <result column="goods_img" property="goodsImg" jdbcType="VARCHAR"/>
        <result column="goods_color_id" property="goodsColorId" jdbcType="VARCHAR"/>
        <result column="goods_img_all" property="goodsImgAll" jdbcType="VARCHAR"/>
        <result column="goods_info" property="goodsInfo" jdbcType="VARCHAR"/>
        <result column="goods_num" property="goodsNum" jdbcType="INTEGER"/>
        <result column="goods_date" property="goodsDate" jdbcType="DATE"/>
    </resultMap>

   <select id="findbu" resultMap="BaseResultMap">
    SELECT * from xm_goods  where   goods_name=#{goodsname} AND goods_version_id=#{versionid}
   </select>



    <select id="findGoods" resultMap="BaseResultMap">
        select a.*,c.goods_price as goodsPrice from xm_goods a
        LEFT JOIN xm_color b
        on a.goods_color_id = b.color_id
        LEFT JOIN xm_versions c
        on b.color_id = c.color_id where a.goods_remen = #{typeId}
        GROUP BY
        a.goods_name
    </select>


    <select id="findgoodbyid" resultMap="BaseResultMap">
        select a.*,c.goods_price as goodsPrice from xm_goods a
        LEFT JOIN xm_color b
        on a.goods_color_id = b.color_id
        LEFT JOIN xm_versions c
        on b.color_id = c.color_id where a.id = #{id} GROUP BY a.id
    </select>
</mapper>