<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.LxTopMapper">
    <select id="queryTopList" resultType="com.jk.entity.GoodsBeab">
        SELECT
        xm_goods.goods_name AS goodsname,
        xm_goods.goods_img AS goodsimg,
        xm_versions.goods_price AS goodsprice,
        xm_goods.goods_typeid AS goodstypeid,
        xm_goods.id AS id,
        xm_color.color_name AS colorname,
        xm_versions.version_name AS versionname
        FROM
        xm_goods ,
        xm_color ,
        xm_versions
        WHERE
        xm_goods.goods_version_id = xm_versions.versions_id AND
        xm_goods.goods_color_id = xm_color.color_id


        <include refid="aaa"></include>
        GROUP BY
        xm_goods.goods_name
        ORDER BY
        goodsprice ASC

    </select>
    <sql id="aaa">
        <if test="goodsBeab.goodsname != null and goodsBeab.goodsname != '' ">
            and xm_goods.goods_name like '%${goodsBeab.goodsname}%'
        </if>
        <if test="goodsBeab.goodstypeid != 0 and goodsBeab.goodstypeid != null ">
            and xm_goods.goods_typeid = #{goodsBeab.goodstypeid}
        </if>
    </sql>
</mapper>