<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小米商城 - 小米10 Pro、Redmi 10X、小米MIX Alpha，小米电视官方网站</title>
    <link rel="icon" href="/qianggou/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/qianggou/css/style.css">
    <!--<script src="js/index.js"></script>-->
    <script src="/qianggou/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/qianggou/css/bootstrap.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/qianggou/vue.min.js"></script>
    <script src="/qianggou/bootstrap-paginator.js"></script>


    <style type="text/css">
        *{margin:0;padding:0;}#banner{margin:40px auto;width:1226px;height:460px;background-color:#ff6700;position:relative;}.item{display:none;list-style:none;}



        .nav a{
            display: inline-block;
            height: 100%;
            color: #B0B0B0;
            line-height: 40px;
        }




        .nav a:hover {
            color:#B0B0B0;
        }



    </style>

</head>

<body>
<!--头部信息-->

<div id="app">

    <div class="head">
        <div class="nav clearfix">
            <div class="nav-left">
                <ul>
                    <li><a href="#">小米商城</a><span>|</span></li>
                    <li><a href="#">MIUI</a><span>|</span></li>
                    <li><a href="#">IoT</a><span>|</span></li>
                    <li><a href="#">云服务</a><span>|</span></li>
                    <li><a href="#">金融</a><span>|</span></li>
                    <li><a href="#">有品</a><span>|</span></li>
                    <li><a href="#">小爱开放平台</a><span>|</span></li>
                    <li><a href="#">企业团购</a><span>|</span></li>
                    <li><a href="#">资质证照</a><span>|</span></li>
                    <li><a href="#">协议规则</a><span>|</span></li>
                    <li><a href="#">下载app</a><span>|</span></li>
                    <li><a href="#">智能生活</a><span>|</span></li>
                    <li><a href="#">Select Location</a><span>|</span></li>
                </ul>
            </div>


            <div class="nav-car">
                <a href="#">
                    <em class="car"></em>
                    <em>购物车</em>
                </a>
                <div class="nav-car-list">
                    <p>购物车中还没有商品，赶紧选购吧！</p>
                </div>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="./login">登录</a><span>|</span></li>
                    <li><a href="#">注册</a><span>|</span></li>
                    <li><a href="#">消息通知</a></li>
                </ul>
            </div>
        </div>


    </div>

    <div class="nav clearfix" style="height: 100px">
        <div class="content-head clearfix" style="float:left;margin-top: 20px">


            <div class="logo-box">
                <a href="index">
                    <div class="logo">
                        <img src="./images/mi-home.png" alt="MI">
                        <img src="./images/mi-logo.png" alt="MI">
                    </div>
                </a>
            </div>


            <div id="ggg" style="float: left;margin-left: 75px;line-height: 50px;text-align: center;font-size: 16px;">
                <b><a href="#">全部商品分类</a></b>
            </div>



            <div class="guid">
                <ul>
                    <li><a href="#">小米手机</a></li>
                    <li class="asda"><a href="#">Redmi红米</a></li>
                    <li class="asda"><a href="#">电视</a></li>
                    <li class="asda"><a href="#">笔记本</a></li>
                    <li class="asda"><a href="#">家电</a></li>
                    <li class="asda"><a href="#">路由器</a></li>
                    <li class="asda"><a href="#">智能硬件</a></li>
                    <li class="asda"><a href="#">服务</a></li>
                    <li class="asda"><a href="#">社区</a></li>
                </ul>
            </div>

            <div class="search-box">
                <input type="text" class="input" placeholder="耳机">
                <div class="search-icon"></div>
            </div>
        </div>
    </div>








    <!--
    <div id="aaaaa">
        <ol>
            <li v-for="site in List">
                <span>{{ site.id }}</span>
                <span>{{ site.goodsId }}</span>
                <span>{{ site.miaoshaPrice }}</span>
                <span>{{ site.stockCount }}</span>
                <span>{{ site.startDate }}</span>
                <span>{{ site.endDate }}</span>
                <span>{{ site.images }}</span>
                <span>{{ site.price }}</span>
                <span>{{ site.title }}</span>
            </li>
        </ol>
    </div>
    -->





    <div class="seckill" style="background-color: #f5f5f5">
        <div class="seckill-head"></div>
        <div class="container">
            <div id="seckillNav" class="seckill-nav ">
                <ul id="tabs">
                    <li class="active"><em>11:00</em><span><em>即将开始<br>据开始：00:08</em></span></li>
                    <li onclick="abx(1)"><em>12:00</em><span>即将开始</span></li>
                    <li><em>13:00</em><span>即将开始</span></li>
                    <li><em>14:00</em><span>即将开始</span></li>
                    <li><em>15:00</em><span>即将开始</span></li>
                </ul>
            </div>

            <div class="seckill-gods" id="lists">
                <ul class="clearfix active" ></ul>
                    <!--<li  v-for="site in List">
                        <div class="bg">
                            <img :src="site.images" alt="">
                        </div>
                        <div class="info">
                            <a href="detail" class="name">{{ site.title }}</a>
                            &lt;!&ndash;<p class="tips">小容量不浪费</p>&ndash;&gt;
                            <p class="price">{{ site.miaoshaPrice }}<del>{{ site.price }}</del></p>
                            <a href="" class="btn">抢购</a>
                            <p class="person">已有30000人设置提醒</p>
                        </div>
                    </li>

                </ul>

                <ul class="clearfix">
                    <li  v-for="site in List">
                        <div class="bg">
                            <img :src="site.images" alt="">
                        </div>
                        <div class="info">
                            <a href="" class="name">{{ site.title }}</a>
                            &lt;!&ndash;<p class="tips">小容量不浪费</p>&ndash;&gt;
                            <p class="price">{{ site.miaoshaPrice }}<del>{{ site.price }}</del></p>
                            <a href="" class="btn">抢购</a>
                            <p class="person">已有30000人设置提醒</p>
                        </div>
                    </li>

                </ul>

                <ul class="clearfix">
                    <li  v-for="site in List">
                        <div class="bg">
                            <img :src="site.images" alt="">
                        </div>
                        <div class="info">
                            <a href="" class="name">{{ site.title }}</a>
                            &lt;!&ndash;<p class="tips">小容量不浪费</p>&ndash;&gt;
                            <p class="price">{{ site.miaoshaPrice }}<del>{{ site.price }}</del></p>
                            <a href="" class="btn">抢购</a>
                            <p class="person">已有30000人设置提醒</p>
                        </div>
                    </li>

                </ul>

                <ul class="clearfix">
                    <li  v-for="site in List">
                        <div class="bg">
                            <img :src="site.images" alt="">
                        </div>
                        <div class="info">
                            <a href="" class="name">{{ site.title }}</a>
                            &lt;!&ndash;<p class="tips">小容量不浪费</p>&ndash;&gt;
                            <p class="price">{{ site.miaoshaPrice }}<del>{{ site.price }}</del></p>
                            <a href="" class="btn">登录后抢购</a>
                            <p class="person">已有30000人设置提醒</p>
                        </div>
                    </li>

                </ul>

                <ul class="clearfix">
                    <li  v-for="site in List">
                        <div class="bg">
                            <img :src="site.images" alt="">
                        </div>
                        <div class="info">
                            <a href="" class="name">{{ site.title }}</a>
                            &lt;!&ndash;<p class="tips">小容量不浪费</p>&ndash;&gt;
                            <p class="price">{{ site.miaoshaPrice }}<del>{{ site.price }}</del></p>
                            <a href="" class="btn">登录后抢购</a>
                            <p class="person">已有30000人设置提醒</p>
                        </div>
                    </li>

                </ul>-->
            </div>
            <p class="seckill-notice clearfix">
                *小米秒杀活动规则：
                <br>1.秒杀商品是否参加活动、最终秒杀成功的商品，以订单结算页显示为准，活动包括但不限于优惠券、赠品、满减、满赠等；<br>
                2.秒杀商品数量有限，活动以下单支付成功为准，请加入购物车后尽快下单支付;<br>
                3.秒杀价不含运费，最终以订单结算页价格为准；<br>
                4.订单中商品的数量、颜色、型号等，以订单结算页为准。<br>
                温馨提示：因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，
                如您发现活动商品标价或促销信息有异常，请您立即联系小米客服，以便我们及时补正。
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <ul class="footer-li clearfix">
                <li style="padding: 40px 0px"><a href="#">预约维修服务</a></li>
                <li style="padding: 40px 0px"><a href="#">7天无理由退货</a></li>
                <li style="padding: 40px 0px"><a href="#">15天免费换货</a></li>
                <li style="padding: 40px 0px"><a href="#">满99元包邮</a></li>
                <li style="padding: 40px 0px"><a href="#">520余家售后网点</a></li>
            </ul>
            <div class="about-content clearfix">
                <div class="about-left clearfix">
                    <dl>
                        <dt>帮助中心</dt>
                        <dd><a href="#">账户管理</a></dd>
                        <dd><a href="#">购物指南</a></dd>
                        <dd><a href="#">订单操作</a></dd>
                    </dl>
                    <dl>
                        <dt>服务支持</dt>
                        <dd><a href="#">售后政策</a></dd>
                        <dd><a href="#">自助服务</a></dd>
                        <dd><a href="#">相关下载</a></dd>
                    </dl>
                    <dl>
                        <dt>线下门店</dt>
                        <dd><a href="#">小米之家</a></dd>
                        <dd><a href="#">服务网点</a></dd>
                        <dd><a href="#">授权体验店</a></dd>
                    </dl>
                    <dl>
                        <dt>关于小米</dt>
                        <dd><a href="#">了解小米</a></dd>
                        <dd><a href="#">加入小米</a></dd>
                        <dd><a href="#">投资者关系</a></dd>
                        <dd><a href="#">企业社会责任</a></dd>
                        <dd><a href="#">廉洁举报</a></dd>
                    </dl>
                    <dl>
                        <dt>关注我们</dt>
                        <dd><a href="#">新浪微博</a></dd>
                        <dd><a href="#">官方微信</a></dd>
                        <dd><a href="#">联系我们</a></dd>
                        <dd><a href="#">公益基金会</a></dd>
                    </dl>
                    <dl>
                        <dt>特色服务</dt>
                        <dd><a href="#">F 码通道</a></dd>
                        <dd><a href="#">礼物码</a></dd>
                        <dd><a href="#">防伪查询</a></dd>
                    </dl>
                </div>
                <div class="about-right">
                    <h3>400-100-5678</h3>
                    <p>8:00-18:00（仅收市话费）</p>
                    <div class="client-bt">人工服务</div>
                    <div class="about-bt-left">
                        <p>关注小米：</p>
                    </div>
                    <div class="about-bt">
                        <div class="about-bt-img">
                            <a href="#">
                                <img src="./images/wb.png" alt="">
                                <img src="./images/wb@2x.png" alt="">
                            </a>
                        </div>
                        <div class="about-bt-img">
                            <a href="#">
                                <img src="./images/wx.png" alt="">
                                <img src="./images/wx@2x.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container clearfix">
            <div class="footer2-left">
                <img src="./images/logo-footer.png" alt="">
            </div>
            <div class="footer2-right">
                <div class="footer2-list">
                    <ul class="clearfix">
                        <li><a href="#">小米商城</a><span>|</span></li>
                        <li><a href="#">MIUI</a><span>|</span></li>
                        <li><a href="#">IoT</a><span>|</span></li>
                        <li><a href="#">云服务</a><span>|</span></li>
                        <li><a href="#">金融</a><span>|</span></li>
                        <li><a href="#">有品</a><span>|</span></li>
                        <li><a href="#">小爱开放平台</a><span>|</span></li>
                        <li><a href="#">企业团购</a><span>|</span></li>
                        <li><a href="#">资质证照</a><span>|</span></li>
                        <li><a href="#">协议规则</a><span>|</span></li>
                        <li><a href="#">下载app</a><span>|</span></li>
                        <li><a href="#">智能生活</a><span>|</span></li>
                        <li><a href="#">Select Location</a></li>
                    </ul>
                </div>

                <p class="dec">&copy; mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2020]0276-042号</p>
                <p class="dec">（京）网械平台备字（2018）第00005号 互联网药品信息服务资格证 (京)-非经营性-2014-0090 营业执照 医疗器械质量公告</p>
                <p class="dec">增值电信业务许可证 网络食品经营备案 京食药网食备201810017 食品经营许可证</p>
                <p class="dec">违法和不良信息举报电话：171-5104-4404 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">


   /* //抢购中
    function qwer(){
        $.ajax({
            url:'/seckill/findSeckillGoods',
            type:'post',
            data:'',
            success:function(result){
                var str = "";

                for (var i = 0; i < 8 ; i++) {

                    str = str + '<li class="item-goods">';
                    str = str + '<ul class="clearfix" >';
                    str = str + '<li class="item-seckill">';
                    str = str + '<a href="https://www.mi.com/buy/detail?product_id=2193800026" data-log_code="bpm=57.181.3586818.2&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64" class="seckill-box" data-settrack="true" onclick="_msq.push([&#39;trackEvent&#39;,&#39;bpm=57.181.3586818.2&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64&#39;,&#39;//www.mi.com/buy/detail?product_id=2193800026&#39;,&#39;21d6858364a4cb1d-a88e4a7340ae6364&#39;,&#39;&quot;&quot;&#39;]);" stat_exposure="true"></a>';
                    str = str + '<div class="item-box">';
                    str = str + '<span class="img-con">';
                    str = str + '<img data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/aaa8d4ef708e89f9063819a04a629c2d.jpg" src="./小米商城_files/aaa8d4ef708e89f9063819a04a629c2d.jpg" lazy="loaded"></span>';
                    str = str + '<span class="pro-con"><span title="小米真无线蓝牙耳机 Air 2 白色" class="name">'+ result[i].title +'</span>';
                    str = str + '<span class="desc">'+ result[i].title +'</span>';
                    str = str + '<span class="price">'+ result[i].costPrice +' <del>'+ result[i].price +'元</del></span>';
                    str = str + '<span class="person ">已有'+ result[i].tixingshu +'人设置提醒</span></span></div>';
                    str = str + '<a href="https://www.mi.com/buy/detail?product_id=2193800026" data-id="2193800026" data-log_code="bpm=57.181.3586819.2&amp;cdm=0.0.0.0&amp;uni=&amp;next=" class="btn btn-green btn-small btn-remind" data-settrack="true" onclick="_msq.push([&#39;trackEvent&#39;,&#39;bpm=57.181.3586819.2&amp;cdm=0.0.0.0&amp;uni=&amp;next=&#39;,&#39;//www.mi.com/buy/detail?product_id=2193800026&#39;,&#39;21d6858364a4cb1d-cb72a47849a444e9&#39;,&#39;&quot;&quot;&#39;]);" stat_exposure="true">提醒我</a></li>';
                    str = str + '</li>';
                    str = str + '</ul>';
                    str = str + '</li>';

                }

                $("#qianggou").html(str);
            }
        })
    }*/







    /*   $(function() {
           searchUserList(1);
       })*/


    function searchUserList(num){

        $.ajax({
            type:"post",
            url:"",
            data:"",
            dataType:"json",
            success: function(result) {
                //alert(result)
                vm.List = result;
            }

        })

    }





    window.onload = function () {
        var tabs = document.getElementById('tabs').getElementsByTagName('li');
        var lists = document.getElementById('lists').getElementsByTagName('ul');
        var seckillNav = document.getElementById('seckillNav');
        window.onscroll = function(){
            var scrollTop = document.documentElement.scrollTop;
            if (scrollTop >= 280) {
                seckillNav.className = "seckill-nav seckill-navfixed";
            } else {
                seckillNav.className = "seckill-nav";
            }
        }
        for (var i = 0; i < tabs.length; i++) {

            tabs[i].onclick = function(){


                for (var i = 0; i < tabs.length; i++) {

                    if (tabs[i] === this) {
                        var a = i+1;
                        searchUserList(a)
                        tabs[i].className = "active";
                        lists[i].className = "clearfix active"
                    } else {
                        tabs[i].className = " ";
                        lists[i].className = "clearfix";
                    }
                }
            }
        }



        searchUserList(1)


    }

</script>

</html>