<! doctype html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--视窗，宽度默认设备宽度,开始缩放1倍-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css">
    <!---标准格式-->
    <link rel="stylesheet" href="/mi/css/test.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>小米商城</title>
</head>
<body class="clear-float">
<div class="top-nav">
    <div class="border">
        <div class="nav container">
            <div class="left">小米商城 | MIUI | IoT | 云服务 | 金融 | 有品 | 小爱开放平台 | 企业团购 | 资质证照 | 协议规则 | 下载app</div>
            <div class="right">购物车</div>
            <div class="right">登录 | 注册 | 消息通知 |</div>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="left picture">
            <img class="logo" src="https://account.xiaomi.com/static/res/28f08d0/account-static/respassport/acc-2014/img/milogo.png">
        </div>
        <div class="left classify">
            <span>全部商品分类</span>
            <span>小米手机</span>
            <span>Redmi 红米</span>
            <span>电视</span>
            <span>笔记本</span>
            <span>家电</span>
            <span>路由器</span>
            <span>智能硬件</span>
            <span>服务</span>
            <span>社区</span>
        </div>
        <div class="right">
            <input type="text" placeholder="小米9 Pro 5G">
            <button>搜索</button>
        </div>
    </div>
</div>
<div class="main-promote">
    <div class="container">
        <div class="time">
            <span>08:00 即将开始</span>
            <span>10:00 即将开始</span>
            <span>14:00 即将开始</span>
            <span>20:00 即将开始</span>
            <span>22:00 即将开始</span>
        </div>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
</div>
<div class="container">*小米秒杀活动规则：
    <br>1.秒杀商品是否参加活动、最终秒杀成功的商品，以订单结算页显示为准，活动包括但不限于优惠券、赠品、满减、满赠等；<br>
    2.秒杀商品数量有限，活动以下单支付成功为准，请加入购物车后尽快下单支付;<br>
    3.秒杀价不含运费，最终以订单结算页价格为准；<br>
    4.订单中商品的数量、颜色、型号等，以订单结算页为准。<br>
    温馨提示：因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，如您发现活动商品标价或促销信息有异常，请您立即联系小米客服，以便我们及时补正。
</div>
</body>
</html>
